<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/template1}">
<body>

<div layout:fragment="content">

    <h2>Liste de customers</h2>

    <a th:href="@{/customer/create}">Creer</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Created at</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="row : ${customers}">
            <td th:text="${row.id}"></td>
            <td th:text="${row.firstName}"></td>
            <td th:text="${row.lastName}"></td>
            <td th:text="${row.email}"></td>
            <td th:text="${row.phoneNumber}"></td>
            <td th:text="${row.createdAt}"></td>
            <td>
                <a th:href="@{/customer/edit/{id}(id=${row.id})}">Edit</a> |
                <a th:href="@{/customer/delete/{id}(id=${row.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
